{% extends "yearbook/layout.html.twig" %}

{% block content %}
	<div class="container text-center text-2xl">
		<ul class="space-y-5">
			{% for classroom in classrooms %}
				<li>
					<a href="{{ classroom.slug ~ '.html'}}">{{ classroom.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
