<form method="post" action="{{ path('dealer_student_delete', {'id': student.id}) }}" onsubmit="return confirm('{% trans %}buttons.delete.confirm{% endtrans %}');" class="inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-danger">{% trans %}buttons.delete.label{% endtrans %}</button>
</form>
