{% extends 'dealer/layout.html.twig' %}

{% set title = 'album.titles.new'|trans %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
    <h1 class="mb-5">{{ title }}</h1>

    {{ include('dealer/album/_form.html.twig') }}
{% endblock %}
