{% extends 'admin/layout.html.twig' %}

{% set title = 'dealer.titles.edit'|trans %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<h1 class="mb-5">{{ title }}</h1>

	{{ include('admin/dealer/_form.html.twig') }}
{% endblock %}
