{% extends 'dealer/layout.html.twig' %}

{% set title = 'classroom.titles.new'|trans %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<h1 class="mb-5">{{ title }}</h1>

	{% if search.school %}
		{{ include('dealer/classroom/_form.html.twig') }}
	{% else %}
		{{ include('dealer/_alert_school.html.twig') }}
	{% endif %}
{% endblock %}
