{% extends 'school/layout.html.twig' %}

{% block title %}
	Anasayfa
{% endblock %}

{% block content %}
	<h1 class="mb-5">Okul Paneli</h1>
	Hoşgeldiniz, navigasyon için sol menüyü kullanabilirsiniz.
{% endblock %}
