<form method="post" action="{{ path('dealer_school_delete', {'id': school.id}) }}" onsubmit="return confirm('{% trans %}buttons.delete.confirm{% endtrans %}');" class="inline-block">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ school.id) }}">
	<button class="btn btn-danger">{% trans %}buttons.delete.label{% endtrans %}</button>
</form>
