{% extends 'dealer/layout.html.twig' %}

{% set title = 'school.titles.edit'|trans %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
	<h1 class="mb-5">{{ title }}</h1>

	{{ include('dealer/school/_form.html.twig') }}
{% endblock %}
